
@model TrustMoi.Models.IndexViewModel

@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="img-responsive img-rounded img-center" alt="" src="~/Images/NoImage.gif" />
        </div>
        <div class="col-md-8">
            <p>
                <h3>@Model.PersonalDetails.FullName</h3>
            </p>
            <p>
                <h4>
                    @if (!string.IsNullOrWhiteSpace(Model.PersonalDetails.Email))
                    {
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        <a href="mailto:@Model.PersonalDetails.Email">@Model.PersonalDetails.Email</a>
                    }
                </h4>
            </p>
            <p>
                <h4>
                    @if (!string.IsNullOrWhiteSpace(Model.PersonalDetails.Phone))
                    {
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                        @Model.PersonalDetails.Phone
                    }
                </h4>
            </p>
        </div>
    </div>
    <div class="row spacer-lg">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#Personal" aria-controls="Personal" role="tab" data-toggle="tab">Personal Details</a></li>
                <li role="presentation"><a href="#Interests" aria-controls="Interests" role="tab" data-toggle="tab">Interests</a></li>
                <li role="presentation"><a href="#Budget" aria-controls="Budget" role="tab" data-toggle="tab">Budget Sheet</a></li>
                <li role="presentation"><a href="#Risk" aria-controls="Risk" role="tab" data-toggle="tab">Risk Profiling</a></li>
                <li role="presentation"><a href="#Message" aria-controls="Message" role="tab" data-toggle="tab">Message Board</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Personal">
                    @Html.Partial("_PersonalDetails", Model.PersonalDetails)
                </div>
                <div role="tabpanel" class="tab-pane" id="Interests">
                    Bootstrap's plugins don't fall back particularly gracefully when JavaScript is disabled. If you care about the user experience in this case, use to explain the situation (and how to re-enable JavaScript) to your users, and/or add your own custom fallbacks.
                </div>
                <div role="tabpanel" class="tab-pane" id="Budget">
                    Bootstrap's plugins don't fall back particularly gracefully when JavaScript is disabled. If you care about the user experience in this case, use to explain the situation (and how to re-enable JavaScript) to your users, and/or add your own custom fallbacks.
                </div>
                <div role="tabpanel" class="tab-pane" id="Risk">
                    @Html.Partial("_PesonRiskPolling", Model.PersonQuestionAnswers)
                </div>
                <div role="tabpanel" class="tab-pane" id="Message">...</div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
                $(".datepicker").datepicker();
                $('#btnSave').click(function(e) {
                    e.preventDefault();

                    bootbox.alert('I am in :)');
                });
            }
        );
    </script>
}